<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shiwaixiangcun.customer"> <!-- 激光 -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23"/>

    <!-- Required -->
    <permission
        android:name="com.shiwaixiangcun.customer.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required -->
    <uses-permission android:name="com.shiwaixiangcun.customer.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 分享 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- 百度统计 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/start_page"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.OnlineServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.HouseRentingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.LookDecoratingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.HealthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CommunityAnnouncementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MoreMoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.DetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ItoRentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.RecordsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ItoSellerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.IgetRentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.IgetBuyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CompanyDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.CompanyDetailToDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ResidentCertificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ToResidentCertificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".photo.PhotoSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".photo.PhotoEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.InformationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MymineActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.EditNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.HealthOkActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BloodPressureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BloodDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.HeartateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BloodSugarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.WeightActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BloodFatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".fragment.CurveChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BloodSugarDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.SugarHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.WeightHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.BloodFatDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ForLifeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1106146668"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BigImageActivity"/>

        <!-- 百度统计 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="b1e0046c93"/>
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="BaiduMarket"/>
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true"/>
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START"/>
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="2"/>
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false"/>
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true"/>
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true"/>
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true"/>

        <activity android:name=".ui.activity.BannerDetailsActivity"/>

        <!-- 激光 -->
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.shiwaixiangcun.customer"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

                <category android:name="com.shiwaixiangcun.customer"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.shiwaixiangcun.customer"/>
            </intent-filter>
        </activity>
        <!-- SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.shiwaixiangcun.customer"/>
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="7fb6ffb9a1ffb3edaa6d4ab8"/>

        <activity android:name=".ui.activity.SurroundLifeActivity"/>
        <activity android:name=".ui.activity.SurroundTopActivity"/>
        <activity android:name=".ui.activity.SurroundDetailActivity"/>
        <activity android:name=".ui.activity.AwardActivity"/>
        <activity android:name=".ui.activity.ActivityActivity"/>
        <activity android:name=".ui.activity.WeatherActivity"/>
        <activity android:name=".ui.activity.SwitchCityActivity"/>
        <activity android:name=".ui.activity.BigIamgeMerchanActivity"/>
        <activity android:name=".ui.activity.MerchantDetailToImagesActivity"/>
        <activity android:name=".ui.activity.BigIamgeMerchatImageActivity"/>
        <activity android:name=".ui.activity.SurroundDetailsActivity"/>
        <activity android:name=".ui.activity.ViewMoreActivity"/>
        <activity
            android:name=".ui.activity.MallActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.MallCategoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SearchResultActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.GoodDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.EditAddressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ChooseAddressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ManageAddressActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.OrderActivity">
        </activity>
    </application>

</manifest>